/* Gradient */
/* solid */
/* font-family */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img, ion-icon, a, button, time, span {
  display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer; }

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit; }

::selection {
  background: #ffdb70;
  color: #121212; }

:focus {
  outline-color: #ffdb70; }

body {
  background: #121212; }

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px; }

html {
  font-family: "Poppins", sans-serif; }

.sidebar, article {
  background: #1e1e1f;
  border: 1px solid #383838;
  border-radius: 20px;
  padding: 15px;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
  z-index: 1; }

.separator {
  width: 100%;
  height: 1px;
  background: #383838;
  margin: 16px 0; }

.icon-box {
  position: relative;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffdb70;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
  z-index: 1; }

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #202022;
  border-radius: inherit;
  z-index: -1; }

.icon-box ion-icon {
  --ionicon-stroke-width: 35px; }

article {
  display: none; }

article.active {
  display: block;
  animation: fade 0.5s ease backwards; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.h2, .h3, .h4, .h5 {
  color: #fafafa;
  text-transform: capitalize; }

.h2 {
  font-size: 24px; }

.h3 {
  font-size: 18px; }

.h4 {
  font-size: 16px; }

.h5 {
  font-size: 13px;
  font-weight: 500; }

.article-title {
  position: relative;
  padding-bottom: 7px; }

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #ffdb70;
  border-radius: 3px; }

.has-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

.has-scrollbar::-webkit-scrollbar-track {
  background: #2b2b2c;
  border-radius: 5px; }

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #ffdb70;
  border-radius: 5px; }

.has-scrollbar::-webkit-scrollbar-button {
  width: 20px; }

.content-card {
  position: relative;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
  z-index: 1;
  cursor: pointer; }

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0), 100%), #202022;
  border-radius: inherit;
  z-index: -1; }

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px; }

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: 0.5s ease-in-out; }

.sidebar.active {
  max-height: 405px; }

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px; }

.avatar-box {
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  border-radius: 20px; }

.info-content .name {
  color: #fafafa;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 10px; }

.info-content .title {
  color: white;
  background: #2b2b2c;
  font-size: 11px;
  font-weight: 300;
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px; }

.info-more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: #ffdb70;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  padding: 10px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
  transition: 0.25s ease;
  z-index: 1; }

.info-more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0), 100%), #202022;
  transition: 0.25s ease;
  z-index: -1; }

.info-more-btn:hover, .info-more-btn:focus {
  background: linear-gradient(to bottom right, #ffda6b 0%, rgba(255, 192, 97, 0) 50%); }

.info-more-btn:hover::before, .info-more-btn:focus::before {
  background: linear-gradient(135deg, rgba(255, 218, 107, 0.251) 0%, rgba(255, 187, 92, 0) 59.86%, #202022); }

.info-more-btn span {
  display: none; }

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out; }

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible; }

.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px; }

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px; }

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px); }

.contact-title {
  color: rgba(214, 214, 214, 0.7);
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 2px; }

.contact-info :is(.contact-link, time, address) {
  color: #fafafa;
  font-size: 13px; }

.contact-info address {
  font-style: normal; }

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-right: 26px; }

.social-item .social-link {
  color: rgba(214, 214, 214, 0.7);
  font-size: 18px; }

.social-item .social-link:hover {
  color: #d6d6d6; }

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(43, 43, 44, 0.75);
  backdrop-filter: blur(10%);
  border: 1px solid #383838;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
  z-index: 5; }

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px; }

.navbar-link {
  color: #d6d6d6;
  font-size: 11px;
  padding: 20px 7px;
  transition: color 0.25s ease; }

.navbar-link:hover, .navbar-link:focus {
  color: rgba(214, 214, 214, 0.7); }

.navbar-link.active {
  color: #ffdb70; }

.about .article-title {
  margin-bottom: 15px; }

.about-text {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; }

.about-text p {
  margin-bottom: 15px; }

.service {
  margin-bottom: 35px; }

.service-title {
  margin-bottom: 20px; }

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; }

.service-item {
  position: relative;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
  z-index: 1; }

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0), 100%), #202022;
  border-radius: inherit;
  z-index: -1; }

.service-icon-box {
  margin-bottom: 10px; }

.service-icon-box img {
  margin: auto; }

.service-content-box {
  text-align: center; }

.service-item-title {
  margin-bottom: 7px; }

.service-item-text {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }

.testimonials {
  margin-bottom: 30px; }

.testimonials-title {
  margin-bottom: 20px; }

.testimonials-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory; }

.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center; }

.testimonials-avatar-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  border-radius: 14px;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25); }

.testimonials-item-title {
  margin-bottom: 7px; }

.testimonials-text {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;
  pointer-events: none;
  visibility: hidden; }

.modal-container::-webkit-scrollbar {
  display: none; }

.modal-container.active {
  pointer-events: all;
  visibility: visible; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0d0d0d;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: 0.25s ease; }

.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all; }

.testimonials-modal {
  background: #1e1e1f;
  position: relative;
  padding: 15px;
  margin: 15px 12px;
  border: 1px solid #383838;
  border-radius: 14px;
  box-shadow: 0 24px 80px rgba(0, 0, 0, 0.25);
  transform: scale(1.2);
  opacity: 0;
  transition: 0.25s ease;
  z-index: 2; }

.modal-container.active .testimonials-modal {
  transform: scale(1);
  opacity: 1; }

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #2b2b2c;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  opacity: 0.7; }

.modal-close-btn:hover, .modal-close-btn:focus {
  opacity: 1; }

.modal-close-btn ion-icon {
  --ionicon-stroke-width: 50px; }

.modal-avatar-box {
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  width: max-content;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25); }

.modal-img-wrapper > img {
  display: none; }

.modal-title {
  margin-bottom: 4px; }

.modal-content time {
  font-size: 14px;
  color: rgba(214, 214, 214, 0.7);
  font-weight: 300;
  margin-bottom: 10px; }

.modal-content p {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; }

.clients {
  margin-bottom: 15px; }

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px; }

.clients-item {
  min-width: 50%;
  scroll-snap-align: start; }

.clients-item img {
  width: 100%;
  filter: grayscale(1);
  transition: 0.25s ease; }

.clients-item img:hover {
  filter: grayscale(0); }

.article-title {
  margin-bottom: 30px; }

.timeline {
  margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px; }

.timeline-list {
  font-size: 14px;
  margin-left: 45px; }

.timeline-item {
  position: relative; }

.timeline-item:not(:last-child) {
  margin-bottom: 20px; }

.timeline-item-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 7px; }

.timeline-list span {
  color: #ceb15a;
  font-weight: 400;
  line-height: 1.6; }

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: #383838; }

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(to right, #ffdb70, #ffbb5c);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #383838; }

.timeline-text {
  color: #d6d6d6;
  font-weight: 300;
  line-height: 1.6; }

.skills-title {
  margin-bottom: 20px; }

.skills-list {
  padding: 20px; }

.skills-item:not(:last-child) {
  margin-bottom: 18px; }

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px; }

.skill .title-wrapper data {
  color: #d6d6d6;
  font-size: 13px;
  font-weight: 300; }

.skill-progress-bg {
  background: #383838;
  width: 100%;
  height: 8px;
  border-radius: 10px; }

.skill-progress-fill {
  background: linear-gradient(to right, #ffdb70, #ffbb5c);
  height: 100%;
  border-radius: inherit; }

.filter-list {
  border: 1px solid red;
  display: none; }

.filter-select-box {
  position: relative;
  margin-bottom: 25px; }

.filter-select {
  background: #1e1e1f;
  color: #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #383838;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 300; }

.filter-select.active .select-icon {
  transform: rotate(0.5turn); }

.select-list {
  background: #1e1e1f;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid #383838;
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out; }

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.select-item button {
  background: #1e1e1f;
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px; }

.select-item button:hover {
  background: #323234; }

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px; }

.project-item {
  display: none; }

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards; }

@keyframes scaleUp {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

.project-item > a {
  width: 100%; }

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px; }

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: 0.25s ease; }

.project-item > a:hover .project-img::before {
  background: rgba(0, 0, 0, 0.5); }

.project-item-icon-box {
  background: #383838;
  color: #ffdb70;
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-40%, -40%) scale(0.8);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease; }

.project-item > a:hover .project-item-icon-box {
  transform: scale(1);
  opacity: 1; }

.project-item-icon-box ion-icon {
  --ionicon-stroke-width: 50px; }

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s ease; }

.project-item > a:hover img {
  transform: scale(1.1); }

.project-title, .project-category {
  margin-left: 10px; }

.project-title {
  color: #fafafa;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3; }

.project-category {
  color: rgba(214, 214, 214, 0.7);
  font-size: 14px;
  font-weight: 300; }

.blog-posts {
  margin-bottom: 10px; }

.blog-posts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; }

.blog-post-item > a {
  position: relative;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  height: 100%;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  z-index: 1; }

.blog-post-item > a::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: #202022;
  z-index: -1; }

.blog-banner-box {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden; }

.blog-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s ease; }

.blog-post-item > a:hover .blog-banner-box img {
  transform: scale(1.1); }

.blog-content {
  padding: 15px; }

.blog-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px; }

.blog-meta :is(.blog-category, time) {
  color: rgba(214, 214, 214, 0.7);
  font-size: 14px;
  font-weight: 300; }

.blog-meta .dot {
  background: rgba(214, 214, 214, 0.7);
  width: 4px;
  height: 4px;
  border-radius: 4px; }

.blog-item-title {
  margin-bottom: 10px;
  line-height: 1.3;
  transition: 0.25s ease; }

.blog-post-item > a:hover .blog-item-title {
  color: #ffdb70; }

.blog-text {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6; }

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid #383838;
  overflow: hidden; }

.mapbox figure {
  height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1); }

.contact-form {
  margin-bottom: 10px; }

.form-title {
  margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px; }

.form-input {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid #383838;
  border-radius: 14px;
  outline: none; }

.form-input::placeholder {
  font-weight: 500; }

.form-input:focus {
  border-color: #ffdb70; }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px; }

textarea.form-input::-webkit-resizer {
  display: none; }

.form-input:focus:invalid {
  border-color: #b84c4c; }

.form-btn {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%);
  color: #ffdb70;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  z-index: 1;
  transition: 0.25s ease; }

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0), 100%), #202022;
  border-radius: inherit;
  z-index: -1;
  transition: 0.25s ease; }

.form-btn ion-icon {
  font-size: 16px; }

.form-btn:hover {
  background: linear-gradient(to bottom right, #ffda6b 0%, rgba(255, 192, 97, 0) 50%); }

.form-btn:hover::before {
  background: linear-gradient(135deg, rgba(255, 218, 107, 0.251) 0%, rgba(255, 187, 92, 0) 59.86%, #202022); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed; }

.form-btn:disabled:hover {
  background: linear-gradient(to bottom right, #404040 0%, rgba(64, 64, 64, 0) 50%); }

.form-btn:disabled:hover::before {
  background: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0), 100%), #202022; }
