@mixin reset($margin, $padding, $bsizing){
    margin: $margin;
    padding: $padding;
    box-sizing: $bsizing;
}

@mixin dimensions($width, $height){
    width: $width;
    height: $height;
}

@mixin scrollbarStyle($bg, $bradius){
    background: $bg;
    border-radius: $bradius;
}

@mixin relative($bg, $bradius, $bshadow, $zidx){
    position: relative;
    background: $bg;
    box-shadow: $bshadow;
    z-index: $zidx;
}

@mixin flex($jcontent, $aitems){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
}

@mixin flexbox($jcontent, $aitems, $gap){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
    gap: $gap;
}

@mixin grid($gtcol, $gap){
    display: grid;
    grid-template-columns: $gtcol;
    gap: $gap;
}

@mixin pseudo($content, $position, $bg, $bradius){
    content: $content;
    position: $position;
    background: $bg;
    border-radius: $bradius;
}

// background: $eerie-black-2;
//     border: 1px solid $jet;
//     border-radius: 20px;
//     padding: 15px;
//     box-shadow: $shadow-1;
//     z-index: 1;


@mixin textStyle($color, $fsize, $fweight){
    color: $color;
    font-size: $fsize;
    font-weight: $fweight;
}

@mixin colorFont($color, $fsize){
    color: $color;
    font-size: $fsize;
}

@mixin absolute($bg, $bradius, $bshadow){
    position: absolute;
    background: $bg;
    border-radius: $bradius;
    box-shadow: $bshadow;
}


// .info-more-btn{
//     position: absolute;
//     top: -15px;
//     right: -15px;
//     border-radius: 0 15px;
//     font-size: 13px;
 //    color: $orange-yellow-crayola;
//     background: $bg-gradient-onyx;
//     padding: 10px;
//     box-shadow: $shadow-2;
//     transition: $transition-1;
//     z-index: 1;
// }

// position: absolute;
//             top: 0;
//             left: 0;
//             transform: translate(15px, -25px);
//             background: $bg-gradient-onyx;
//             border-radius: 14px;
//             box-shadow: $shadow-1;

// .navbar{
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     background: hsla(240, 1%, 17%, 0.75);
//     backdrop-filter: blur(10%);
//     border: 1px solid $jet;
//     border-radius: 12px 12px 0 0;
//     box-shadow: $shadow-2;
//     z-index: 5;

