@mixin reset($margin, $padding, $bsizing){
    margin: $margin;
    padding: $padding;
    box-sizing: $bsizing;
}

@mixin dimensions($width, $height){
    width: $width;
    height: $height;
}

@mixin scrollbarStyle($bg, $bradius){
    background: $bg;
    border-radius: $bradius;
}

@mixin relative($bg, $bradius, $bshadow, $zidx){
    position: relative;
    background: $bg;
    border-radius: $bradius;
    box-shadow: $bshadow;
    z-index: $zidx;
}

@mixin flex($jcontent, $aitems){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
}

@mixin flexbox($jcontent, $aitems, $gap){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
    gap: $gap;
}

@mixin grid($gtcol, $gap){
    display: grid;
    grid-template-columns: $gtcol;
    gap: $gap;
}

@mixin pseudo($content, $position, $bg, $bradius){
    content: $content;
    position: $position;
    background: $bg;
    border-radius: $bradius;
}

@mixin posTopLeft($pos, $top, $left){
    position: $pos;
    top: $top;
    left: $left;
}

@mixin posTopRight($pos, $top, $right){
    position: $pos;
    top: $top;
    right: $right;
}

@mixin visible($vis, $pevents){
    visibility: $vis;
    pointer-events: $pevents;
}

@mixin textStyle($color, $fsize, $fweight){
    color: $color;
    font-size: $fsize;
    font-weight: $fweight;
}

@mixin colorFont($color, $fsize){
    color: $color;
    font-size: $fsize;
}

@mixin absolute($bg, $bradius, $bshadow){
    position: absolute;
    background: $bg;
    border-radius: $bradius;
    box-shadow: $bshadow;
}

@mixin timelineText($color, $fweight, $lheight){
    color: $color;
    font-weight: $fweight;
    line-height: $lheight;

}

