.about .article-title{
    margin-bottom: 15px;
} 

.about-text{
    @include textStyle($light-gray, $fs-6, $fw-300);
    line-height: 1.6;
    & p{
        margin-bottom: 15px;
    }
}

.service{
    margin-bottom: 35px;
}

.service-title{
    margin-bottom: 20px;
}

.service-list{
    @include grid(1fr, 20px);
    & li{
        @include relative($bg-gradient-onyx, 14px, $shadow-2, 1);
        padding: 20px;
        &::before{
            @include pseudo("", absolute, $bg-gradient-jet, inherit);
            inset: 1px;
            z-index: -1;
        }
        & div:first-child{
            margin-bottom: 10px;
            & img{
                margin: auto;
            }
        }
        & div:last-child{
            text-align: center;
            & p{
                @include textStyle($light-gray, $fs-6, $fw-300);
                line-height: 1.5;
            }
        }
    }
}

.service-item-title{
    margin-bottom: 7px;
}


