.blog-posts{
    margin-bottom: 10px;
    & ul{
        @include grid(1fr, 20px);
        & li > a{
            @include relative($bg-gradient-onyx, 16px, $shadow-4, 1);
            height: 100%;
            &::before{
                @include pseudo("", absolute, $eerie-black-1, inherit);
                inset: 1px;
                z-index: -1;
            }
            &:hover{
                & figure img{
                    transform: scale(1.1);
                }
                & h3{
                    color: $orange-yellow-crayola;
                }
            }
            & figure{
                @include dimensions(100%, 200px);
                border-radius: 12px;
                overflow: hidden;
                & img{
                    @include dimensions(100%, 100%);
                    object-fit: cover;
                    transition: $transition-1;
                }
            }
        }
    }
}

.blog-content{
    padding: 15px;
    & h3{
        margin-bottom: 10px;
        line-height: 1.3;
        transition: $transition-1;
    }
    & p{ 
        @include textStyle($light-gray, $fs-6, $fw-300);
        line-height: 1.6;
    }
}

.blog-meta{
    @include flexbox(flex-start, center, 7px);
    margin-bottom: 10px;
    & :is(p, time){
        @include textStyle($light-gray-70, $fs-6, $fw-300);
    }
    & .dot{
        background: $light-gray-70;
        @include dimensions(4px, 4px);
        border-radius: 4px;
    }
}


