.clients{
    margin-bottom: 15px;
}

.clients-list{
    @include flexbox(flex-start, flex-start, 15px);
    margin: 0 -15px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 25px;
    & li{
        min-width: 50%;
        scroll-snap-align: start;
        & a img{
            width: 100%;
            filter: grayscale(1);
            transition: $transition-1;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}

