.mapbox{
    position: relative;
    @include dimensions(100%, 250px);
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid $jet;
    overflow: hidden;
    & figure{
        height: 100%;
        & iframe{
            @include dimensions(100%, 100%);
            border: none;
            filter: grayscale(1) invert(1);
        }
    }    
}

.contact-form{
    margin-bottom: 10px;
}

.form-title{
    margin-bottom: 20px;
}

.input-wrapper{
    @include grid(1fr, 25px);
    margin-bottom: 25px;
}

.form-input{
    @include textStyle($white-2, $fs-6, $fw-400);
    padding: 13px 20px;
    border: 1px solid $jet;
    border-radius: 14px;
    outline: none;
    &::placeholder{
        font-weight: $fw-500;
    }
    &:focus{
        border-color: $orange-yellow-crayola;
        &:invalid{
            border-color: $bittersweet-shimmer;
        }
    }
}

textarea.form-input{
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer{
    display: none;
}

.form-btn{
    width: 100%;
    @include relative($bg-gradient-onyx, 14px, $shadow-3, 1);
    color: $orange-yellow-crayola;
    @include flexbox(center, center, 10px);
    padding: 13px 20px;
    text-transform: capitalize;
    transition: $transition-1;
    &::before{
        @include pseudo("", absolute, $bg-gradient-jet, inherit);
        inset: 1px;
        z-index: -1;
        transition: $transition-1;
    }
    & ion-icon{
        font-size: 16px;
    }
    &:hover{
        background: $bg-gradient-yellow-1;
        &::before{
            background: $bg-gradient-yellow-2;
        }
    }
    &:disabled{
        opacity: 0.7;
        cursor: not-allowed;
        &:hover{
            background: $bg-gradient-onyx;
            &::before{
                background: $bg-gradient-jet;
            
            }
        }
    }
}

