@media (min-width: 580px){

    // reused style
    .sidebar, article{
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    .article-title{
        font-weight: $fw-600;
        padding-bottom: 15px;
    }

    .article-title::after{
        @include dimensions(40px, 5px);
    }

    .icon-box{
        @include dimensions(48px, 48px);
        border-radius: 12px;
        font-size: 18px;
    }

    main{
        margin-top: 60px;
        margin-bottom: 100px;
    }

    /* sidebar */
    .sidebar{
        max-height: 180px;
        margin-bottom: 30px;
    }

    .sidebar.active{
        max-height: 584px;
    }

    .sidebar-info{
        gap: 25px;
        & figure{
            border-radius: 30px;
            & img{
                width: 120px;
            }
        }
        & div{
            & h1{
                margin-bottom: 15px;
            }
            & p{
                padding: 5px 18px;
            }
        }
        & button{
            top: -30px;
            right: -30px;
            padding: 10px 15px;
            & span{
                display: block;
                font-size: $fs-8;
            }
            & ion-icon{
                display: none;
            } 
        }
    }
    
    .separator{
        margin: 32px 0;
    }

    .contact-list{
        gap: 20px;
    }

    .contact-info{
        max-width: calc(100% - 64px);
        width: calc(100% - 64px);
    }

    /* navbar */
    .navbar{
        border-radius: 20px 20px 0 0;
    }

    .navbar-list{
        gap: 20px;
    }

    .navbar-link{
        font-size: 14px;
    }

    /* about & service */

    .about .article-title{
        margin-bottom: 20px;
    }

    .about-text{
        margin-bottom: 40px;
    }

    .service-item{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }

    .service-icon-box{
        margin-bottom: 0;
        margin-top: 5px;
    }

    .service-content-box{
        text-align: left;
    }

    /* testimonials */

    .testimonials-title{
        margin-bottom: 25px;
    }

    .testimonials-list{
        gap: 30px;
        margin: 0 -30px;
        padding: 30px;
        padding-bottom: 35px;
    }

    .content-card{
        padding: 30px;
        padding-top: 25px;
    }

    .testimonials-avatar-box{
        transform: translate(30px, -30px);
        border-radius: 20px;
    }

    .testimonials-avatar-box img{
        width: 80px;
    }

    .testimonials-item-title{
        margin-bottom: 10px;
        margin-left: 95px;
    }

    .testimonials-text{
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    /* testimonials modal */
    .modal-container{
        padding: 20px;
    }

    .testimonials-modal{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 25px;
        padding: 30px;
        border-radius: 20px;
    }

    .modal-img-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-avatar-box{
        border-radius: 18px;
        margin-bottom: 0;
    }

    .modal-avatar-box img{
        width: 65px;
    }

    .modal-img-wrapper > img{
        display: block;
        flex-grow: 1;
        width: 35px;
    }

    /* clients */
    .clients-list{
        gap: 50px;
        margin: 0 -30px;
        padding: 45px;
        scroll-padding-inline: 45px;
    }

    .clients-item{
        min-width: calc(33.33% -35px);
    }

    /* resume */
    .timeline-list{
        margin-left: 65px;
    }

    .timeline-item:not(:last-child)::before{
        left: -40px;
    }

    .timeline-item::after{
        height: 8px;
        width: 8px;
        left: -43px;
    }

    /* skills */
    .skills-item:not(:last-child){
        margin-bottom: 25px;
    }

    /* portfolio. blog */
    .project-img, .blog-banner-box{
        border-radius: 16px;
    }

    .blog-posts-list{
        gap: 30px;
    }

    .blog-content{
        padding: 25px;
    }

    /* contact */
    .mapbox{
        height: 380px;
        border-radius: 18px;
    }

    .input-wrapper{
        gap: 30px;
        margin-bottom: 30px;
    }

    .form-input{
        padding: 15px 20px;
    }

    textarea.form-input{
        margin-bottom: 30px;
    }

    .form-btn{
        font-size: 16px;
        padding: 16px 20px;
    }

    .form-btn ion-icon{
        font-size: 18px;
    }








}