@media (min-width: 1250px){
    /* reset */
    body::-webkit-scrollbar{
        width: 20px;
    }

    body::-webkit-scrollbar-track{
        background: $smoky-black; 
    }

    body::-webkit-scrollbar-thumb{
        @include scrollbarStyle(hsla(0, 0%, 100%, 0.1), 20px);
        border: 3px solid $smoky-black;
        box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11), inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
    }

    body::-webkit-scrollbar-thumb:hover{
        background: hsla(0, 0%, 100%, 0.15);
    }

    body::-webkit-scrollbar-button{
        height: 60px;
    }

    /* reused style */
    .sidebar, article{
        width: auto;
    }

    article{
        min-height: 100%;
    }

    main{
        max-width: 1200px;
        margin-inline: auto;
        @include flexbox(center, stretch, 25px);
    }

    .main-content{
        min-width: 75%;
        width: 75%;
        margin: 0;
    }

    /* sidebar */
    .sidebar{
        position: sticky;
        top: 60px;
        max-height: max-content;
        height: 100%;
        margin-bottom: 0;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar-info{
        flex-direction: column;
        & figure img {
            width: 150px;
        }
        & div{
            & h1{
                white-space: nowrap;
                text-align: center;
            }
            & p{
                margin: auto;
            }
        }
        & button{
            display: none;
        }
    }
    
    .sidebar-info_more{
        opacity: 1;
        visibility: visible;
    }

    .contact-list{
        grid-template-columns: 1fr;
    }

    .contact-info :is(a){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact-info :is(a, time, address){
        font-size: 14px;
        font-weight: $fw-300;
    }

    .separator:last-of-type{
        margin: 15px 0;
        opacity: 0;
    }

    /* resume */
    .timeline-text{
        max-width: 700px;
    }
}