@media (min-width: 1024px){
    /* reused style */
    .sidebar, article{
        width: 950px;
        box-shadow: $shadow-5;
    }

    main{
        margin-bottom: 60px;
    }

    .main-content{
        position: relative;
        width: max-content;
        margin: auto;
    }

    /* navbar */
    .navbar{
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
        & ul{
            gap: 30px;
            padding: 0 20px;
        }
    }
    
    .navbar-link{
        font-weight: $fw-500;
    }

    /* about & service */
    .service-list{
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }

    /* testimonials */
    .testimonials-list li{
        min-width: calc(50% -  15px);
    }
    
    /* clients */
    .clients-list li{
        min-width: calc(25% - 38px);
    }

    /* portfolio */
    .project-list{
        grid-template-columns: repeat(3, 1fr);
    }

    /* blog */
    .blog-banner-box{
        height: 230px;
    }

}