.article-title{
    margin-bottom: 30px;
}

.timeline{
    margin-bottom: 30px;
}

.timeline .title-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline-list{
    font-size: $fs-6;
    margin-left: 45px;
    & li{
        position: relative;
        &:not(:last-child){
            margin-bottom: 20px;
            &::before{
                @include pseudo("", absolute, $jet, none);
                @include posTopLeft(absolute, -25px, -30px);
                @include dimensions(1px, calc(100% + 50px));
            }
        }
        & span{
            @include timelineText($vegas-gold, $fw-400, 1.6);
        }
        &::after{
            @include pseudo("", absolute, $bg-gradient-yellow, 50%);
            top: 5px;
            left: -33px;
            @include dimensions(6px, 6px);
            box-shadow: 0 0 0 4px $jet;
        }
        & p {
            @include timelineText($light-gray, $fw-300, 1.6);
        }
    }
}

.timeline-item-title{
    font-size: $fs-6;
    line-height: 1.3;
    margin-bottom: 7px;
}
