.sidebar, article{
    background: $eerie-black-2;
    border: 1px solid $jet;
    border-radius: 20px;
    padding: 15px;
    box-shadow: $shadow-1;
    z-index: 1;
}

.separator{
    @include dimensions(100%, 1px);
    background: $jet;
    margin: 16px 0;
}

.icon-box{
    @include relative($bg-gradient-onyx, 8px, $shadow-1, 1);
    @include dimensions(30px, 30px);
    @include flex(center, center);
    font-size: 16px;
    color: $orange-yellow-crayola;
    &::before{
        @include pseudo("", absolute, $eerie-black-1, inherit);
        inset: 1px;
        z-index: -1;
    }
    & ion-icon{
        --ionicon-stroke-width: 35px;
    }
}

// about & service

article{
    display: none;
}

article.active{
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.h2, .h3, .h4, .h5{
    color: $white-2;
    text-transform: capitalize;
}

.h2{
    font-size: $fs-1;
}

.h3{
    font-size: $fs-2;
}

.h4{
    font-size: $fs-4;
}

.h5{
    font-size: $fs-7;
    font-weight: 500;
}

.article-title{
    position: relative;
    padding-bottom: 7px;
}

.article-title::after{
    @include pseudo("", absolute, $orange-yellow-crayola, 3px);
    bottom: 0;
    left: 0;
    @include dimensions(30px, 3px);
}

// testimonials

.has-scrollbar::-webkit-scrollbar{
    @include dimensions(6px,6px);
}

.has-scrollbar::-webkit-scrollbar-track{
    @include scrollbarStyle($onyx, 5px);
}

.has-scrollbar::-webkit-scrollbar-thumb{
    @include scrollbarStyle($orange-yellow-crayola, 5px);
}

.has-scrollbar::-webkit-scrollbar-button{
    width: 20px;
}

.content-card{
    @include relative($bg-gradient-onyx, 14px, $shadow-2, 1);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    cursor: pointer;
}

.content-card::before{
    inset: 1px;
    @include pseudo("", absolute, $bg-gradient-jet, inherit);
    z-index: -1;
}
