.sidebar{
    margin-bottom: 15px;
    max-height: 112px; 
    overflow: hidden;
    transition: $transition-2;
}

.sidebar.active{
    max-height: 405px;
}

.sidebar-info{
    position: relative;
    @include flexbox(flex-start, center, 15px);
    & figure{
        background: $bg-gradient-onyx;
        border-radius: 20px;
    }
    & div{
        & h1{
            @include textStyle($white-2, $fs-3, $fw-500);
            letter-spacing: -0.25px;
            margin-bottom: 10px;
        }
        & p{
            @include textStyle($white-1, $fs-8, $fw-300);
            background: $onyx;
            width: max-content;
            padding: 3px 12px;
            border-radius: 8px;
        }
    }
    & button{
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 0 15px;
        @include colorFont($orange-yellow-crayola, 13px);
        background: $bg-gradient-onyx;
        padding: 10px;
        box-shadow: $shadow-2;
        transition: $transition-1;
        z-index: 1;
        &::before{
            @include pseudo("", absolute, $bg-gradient-jet, inherit);
            inset: 1px;
            transition: $transition-1;
            z-index: -1;
        }
        &:hover{
            background: $bg-gradient-yellow-1;
            &::before{
                background: $bg-gradient-yellow-2;
            }
        }
        &:focus{
            background: $bg-gradient-yellow-1;
            &::before{
                background: $bg-gradient-yellow-2;
            }
        }
        & span{
            display: none;
        } 
    }
}

.sidebar-info_more{
    opacity: 0; 
    visibility: hidden;
    transition: $transition-2;
}

.sidebar.active .sidebar-info_more{
    opacity: 1;
    visibility: visible;
}

.contact-list{
    @include grid(1fr, 16px);
}

.contact-item{
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info{
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
    & p{
        @include colorFont($light-gray-70, $fs-8);
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    & :is(a, time, address){
        @include colorFont($white-2, $fs-7);
    }
    & address{
        font-style: normal;
    }
}

.social-list{
    @include flexbox(center, center, 15px);
    padding-bottom: 4px;
    padding-right: 26px;
    & li a{
        @include colorFont($light-gray-70, 18px);
        &:hover{
            color: $light-gray;
        }
    } 
}

