.sidebar{
    margin-bottom: 15px;
    max-height: 112px; 
    overflow: hidden;
    transition: $transition-2;
}

.sidebar.active{
    max-height: 405px;
}

.sidebar-info{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.avatar-box{
    background: $bg-gradient-onyx;
    border-radius: 20px;
}

.info-content .name{
    color: $white-2;
    font-size: $fs-3;
    font-weight: $fw-500;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title{
    color: $white-1;
    background: $onyx;
    font-size: $fs-8;
    font-weight: $fw-300;
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.info-more-btn{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: $orange-yellow-crayola;
    background: $bg-gradient-onyx;
    padding: 10px;
    box-shadow: $shadow-2;
    transition: $transition-1;
    z-index: 1;
}

.info-more-btn::before{
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: $bg-gradient-jet;
    transition: $transition-1;
    z-index: -1;
}

.info-more-btn:hover, .info-more-btn:focus{
    background: $bg-gradient-yellow-1;
}

.info-more-btn:hover::before, .info-more-btn:focus::before{
    background: $bg-gradient-yellow-2;
}

.info-more-btn span{
    display: none;
}

.sidebar-info_more{
    opacity: 0; 
    visibility: hidden;
    transition: $transition-2;
}

.sidebar.active .sidebar-info_more{
    opacity: 1;
    visibility: visible;
}

.contact-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item{
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info{
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}

.contact-title{
    color: $light-gray-70;
    font-size: $fs-8;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address){
    color: $white-2;
    font-size: $fs-7;
}

.contact-info address{
    font-style: normal;
}

.social-list{
    display: flex;
    justify-content: center; //flex-start
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-right: 26px; //left:7px
}

.social-item .social-link{
    color: $light-gray-70;
    font-size: 18px;
}

.social-item .social-link:hover{
    color: $light-gray;
}





























