.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    @include dimensions(100%,100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-container.active{
    pointer-events: all;
    visibility: visible;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    @include dimensions(100%, 100vh);
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: $transition-1;
}

.overlay.active{
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
}

.testimonials-modal{
    background: $eerie-black-2;
    position: relative;
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid $jet;
    border-radius: 14px;
    box-shadow: $shadow-5;
    transform: scale(1.2);
    opacity: 0;
    transition: $transition-1;
    z-index: 2;
}

.modal-container.active .testimonials-modal{
    transform: scale(1);
    opacity: 1;
}

.modal-close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: $onyx;
    border-radius: 8px;
    @include dimensions(32px,32px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-2;
    font-size: 18px;
    opacity: 0.7;
}

.modal-close-btn:hover, .modal-close-btn:focus{
    opacity: 1;
}

.modal-close-btn ion-icon{
    --ionicon-stroke-width: 50px;
} 

.modal-avatar-box{
    background: $bg-gradient-onyx;
    width: max-content;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: $shadow-2;
}

.modal-img-wrapper > img{
    display: none;
}

.modal-title{
    margin-bottom: 4px;
}

.modal-content time{
    font-size: $fs-6;
    color: $light-gray-70;
    font-weight: $fw-300;
    margin-bottom: 10px;
}

.modal-content p{
    color: $light-gray;
    font-size: $fs-6;
    font-weight: $fw-300;
    line-height: 1.6;
}



