.modal-container{
    @include posTopLeft(fixed, 0, 0);
    @include dimensions(100%,100%);
    @include flex(center, center);
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    @include visible(hidden, none);
    &::-webkit-scrollbar{
        display: none;
    }
}

.modal-container.active{
    @include visible(visible, all);
}

.overlay{
    @include posTopLeft(fixed, 0, 0);
    @include dimensions(100%, 100vh);
    background: hsl(0, 0%, 5%);
    opacity: 0;
    @include visible(hidden, none);
    z-index: 1;
    transition: $transition-1;
}

.overlay.active{
    opacity: 0.8;
    @include visible(visible, all);
}

.testimonials-modal{
    @include relative($eerie-black-2, 14px, $shadow-5, 2);
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid $jet;
    transform: scale(1.2);
    opacity: 0;
    transition: $transition-1;
    & button{
        @include posTopRight(absolute, 15px, 15px);
        background: $onyx;
        border-radius: 8px;
        @include dimensions(32px,32px);
        @include flex(center, center);
        @include colorFont($white-2, 18px);
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
        &:focus{
            opacity: 1;
        }
        & ion-icon{
            --ionicon-stroke-width: 50px;
        }  
    }
}

.modal-container.active .testimonials-modal{
    transform: scale(1);
    opacity: 1;
}

.modal-img-wrapper{
    & figure{
        background: $bg-gradient-onyx;
        width: max-content;
        border-radius: 14px;
        margin-bottom: 15px;
        box-shadow: $shadow-2;
    }
    & > img{
        display: none;
    }
} 

.modal-title{
    margin-bottom: 4px;
}

.modal-content time{
    @include textStyle($light-gray-70, $fs-6, $fw-300);
    margin-bottom: 10px;
}

.modal-content p{
    @include textStyle($light-gray, $fs-6, $fw-300);
    line-height: 1.6;
}

